Deployments/DataFactory/datafactorydeployment.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory Name",
            "defaultValue": "ExecSummaryIngest"
        },
        "JetBlueAzureDatabricksExecutiveReporting_accessToken": {
            "type": "secureString",
            "metadata": "Secure string for 'accessToken' of 'JetBlueAzureDatabricksExecutiveReporting'"
        },
        "CddFileUploadTrigger_properties_CddProcessUpload_parameters_sourceFolder": {
            "type": "string",
            "defaultValue": "@triggerBody().folderPath"
        },
        "CddFileUploadTrigger_properties_CddProcessUpload_parameters_sourceFile": {
            "type": "string",
            "defaultValue": "@triggerBody().fileName"
        },
        "CddFileUploadTrigger_properties_typeProperties_scope": {
            "type": "string",
            "defaultValue": "/subscriptions/d173caa3-9516-4841-bf1e-056a4ccba7f0/resourceGroups/JB-RG-DEV-CSE/providers/Microsoft.Storage/storageAccounts/jbercddindraw"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/CddProcessUpload')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Job-SplitCddFile",
                        "type": "DatabricksNotebook",
                        "dependsOn": [
                            {
                                "activity": "Web1",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "notebookPath": "/Shared/SplitTables",
                            "baseParameters": {
                                "inputStorageAccount": "jbercddindraw",
                                "inputBlobContainer": {
                                    "value": "@pipeline().parameters.sourceFolder",
                                    "type": "Expression"
                                },
                                "outputStorageAccount": "jbercddindraw",
                                "outputBlobContainer": "sabre-tables",
                                "inputFile": {
                                    "value": "@pipeline().parameters.sourceFile",
                                    "type": "Expression"
                                }
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "JetBlueAzureDatabricksExecutiveReporting",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Job-BookedRevenueYST",
                        "type": "DatabricksNotebook",
                        "dependsOn": [
                            {
                                "activity": "Job-SplitCddFile",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "notebookPath": "/Shared/BookedRevenueYST",
                            "baseParameters": {
                                "outputBlobContainer": "aggregated-results",
                                "inputBlobContainer": "sabre-tables",
                                "inputFile": "unused",
                                "inputStorageAccount": "jbercddindraw",
                                "outputStorageAccount": "jbercddindraw"
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "JetBlueAzureDatabricksExecutiveReporting",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Web1",
                        "type": "WebActivity",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "url": "https://jbersabrebatchfileingestion.azurewebsites.net/jbersabrebatchfileingestion/api/aggregation/ready/",
                            "method": "GET",
                            "headers": {}
                        }
                    }
                ],
                "parameters": {
                    "sourceFolder": {
                        "type": "String"
                    },
                    "sourceFile": {
                        "type": "String"
                    }
                },
                "annotations": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/JetBlueAzureDatabricksExecutiveReporting')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/CddFileUploadTrigger')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Started",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "CddProcessUpload",
                            "type": "PipelineReference"
                        },
                        "parameters": {
                            "sourceFolder": "[parameters('CddFileUploadTrigger_properties_CddProcessUpload_parameters_sourceFolder')]",
                            "sourceFile": "[parameters('CddFileUploadTrigger_properties_CddProcessUpload_parameters_sourceFile')]"
                        }
                    }
                ],
                "type": "BlobEventsTrigger",
                "typeProperties": {
                    "blobPathBeginsWith": "/cdd/",
                    "scope": "[parameters('CddFileUploadTrigger_properties_typeProperties_scope')]",
                    "events": [
                        "Microsoft.Storage.BlobCreated"
                    ]
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/CddProcessUpload')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/JetBlueAzureDatabricksExecutiveReporting')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureDatabricks",
                "typeProperties": {
                    "domain": "https://eastus.azuredatabricks.net",
                    "accessToken": {
                        "type": "SecureString",
                        "value": "[parameters('JetBlueAzureDatabricksExecutiveReporting_accessToken')]"
                    },
                    "existingClusterId": "1005-150643-bract749"
                }
            },
            "dependsOn": []
        }
    ]
}